<div *ngIf="isLoading" class="loading-container">
  <div class="loader"></div>
  <div>Loading ...</div>
</div>

<div *ngIf="!loggedInUser" class="login-panel">
  <div class="login-div">
    <h4>{{ isSignUp ? "Register" : "Login" }} Form</h4>
    <div *ngIf="isSignUp" class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        [(ngModel)]="name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        [(ngModel)]="email"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Password</label
      >
      <input
        type="password"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        [(ngModel)]="password"
      />
      <p *ngIf="invalidLogin" class="invalid-login">
        Invalid email or password.
      </p>
    </div>
    <div *ngIf="!isSignUp" class="login-action">
      <button
        (click)="loginUser()"
        type="button"
        class="btn btn-primary btn-sm"
      >
        Login
      </button>
      <a (click)="isSignUp = !isSignUp">Register</a>
    </div>

    <div *ngIf="isSignUp" class="login-action">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="registerUser()"
      >
        Register
      </button>
      <a (click)="isSignUp = !isSignUp">Login</a>
    </div>
  </div>
</div>

<div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add Todo</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form action="">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input
            type="text"
            [(ngModel)]="inputText"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Todo title"
            standalone="true"
            name="title"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Description</label
          >
          <textarea
            [(ngModel)]="inputDescription"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            placeholder="Todo description"
            standalone="true"
            name="description"
          ></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary addBtnModal"
        (click)="addTodo()"
      >
        Add
      </button>
    </div>
  </ng-template>

  <div class="header">
    <h1>{{ title }} ({{ todos.length }})</h1>
  </div>

  <ul id="todoList">
    <div ngbAccordion>
      <div class="todoItem" *ngFor="let todo of todos" ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <a (click)="removeTodo(todo)" class="remove">
            <i class="bi bi-trash"></i>
          </a>

          <button ngbAccordionButton>
            {{ todo.text }}
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>{{ todo.description }}</ng-template>
          </div>
        </div>
      </div>
    </div>
  </ul>

  <div (click)="openVerticallyCentered(content)" class="fab">+</div>
</div>
